.search-error {
    /* use this if an ERROR code was returned */
    color: red;
}

#infobox {
    background-color: #966e82;
}

.starred {
    /*color: #69314D;*/
    color: #7F171F;
}

* {
    font-size: 20px;
}

.navbar {
    background-color: #7F171F;
    color: black;
}
body {
    background-color: #53704C;
}

.navbar .navbar-brand {
    color: black;
}

.navbar .navbar-text.navbar-right .navbar-link {
    color: black;
}

.title {
    text-align: center;
}

.btn {
    border: 1px solid black;
}

#info *{
    font-size: 14px;
}

a {
    color: #69314D;
}

.count {
    color: #7F171F;
    font-size: 30px;
}