.search-error {
    /* use this if an ERROR code was returned */
    color: red;
}

#my-map {
    height: 800px;
    /*display: inline;*/
}

.infobox {
    border : 2px solid black;
    /*display: inline;*/
}