.search-error {
    /* use this if an ERROR code was returned */
    color: red;
}

#my-map {
    height: 1000px;
    /*display: inline;*/
}

.infobox {
    border : 2px solid black;
    /*display: inline;*/
}

.starred {
    color: #69314D;
}

* {
    font-size: 20px;
}

.navbar {
    background-color: orange;
    color: black;
}
body {
    background-color: #53704C;
}

.navbar .navbar-brand {
    color: black;
}

.navbar .navbar-text.navbar-right .navbar-link {
    color: black;
}

.title {
    text-align: center;
}

.btn {
    border: 1px solid black;
}