<!doctype html>
<html>
    <head>
        <title>{% block title %}GastroHub{% endblock %}</title>
        <!-- Latest compiled and minified CSS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>
    <body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">GastroHub</a>
    </div>
    {% if session['user'] is defined %}
    <p class="navbar-text navbar-right"><a href="/logout" class="navbar-link">Logout</a></p>
    {% else %}
    <p class="navbar-text navbar-right"><a href="/login" class="navbar-link">Login</a></p>
    {% endif %}
  </div><!-- /.container-fluid -->
</nav>

          {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-info flash">
                {% for message in messages %}
                <strong>{{ message }}</strong>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        {% block content %}put your content here{% endblock %}
    </body>
</html>