<!doctype html>
<html>
    <head>
        <title>{% block title %}PROBABLY THINK OF A BETTER TITLE{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <a href="/dashboard">Dashboard</a>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        {% block content %}put your content here{% endblock %}
    </body>
</html>