{% extends 'base.html' %}
{% block content %}

{{ user.fname }} DASHBOARD
<br>
Restaurant Search:
<form action='/search-restaurant' method='POST'>
    <label for="location">location</label>
    <input type="text" name="location" id="location">
    <label for="term">food type</label>
    <input type="text" name="term" id="term">
    <input type="submit" value="submit">
</form>
<br>
{% for group in user.groups %}
    <a href="groups/{{ group.group_id }}"><h1>{{ group.group_name }}<h1></a>
    {% for list in group.lists %}
        <h2>{{ list.list_name }}</h2>
        {% for restaurant in list.restaurants %}
            <div>
            {{ restaurant.restaurant_name }} {{ restaurant.yelp_rating }}
            </div>
        {% endfor %}
    {% endfor %}
{% endfor %}

<form action='/new-group' method='POST'>
    <label for="new-group">New Group Name:</label>
    <input type="text" name="group" id="new-group">
    <input type="submit" value="submit">
</form>



{% endblock %}

