{% extends 'base.html' %}
{% block content %}
<a href="/">Dashboard</a>
{% if user_group %}

{{ user.fname }} <h1 id="group-info" data-groupid="{{ group.group_id }}">{{ group.group_name }}<h1>

<div  class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                        <form action="/new-list" method="POST">
                        <label for="new-list"><h2>Add new category for your group:</h2></label>
                        <input type="text" name="list" id="new-list">
                        <input type="hidden" name="group_id" value="{{ group.group_id }}">    
                        <input type="submit" value="submit">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                <form action="/invite" method="POST">
                    <label for="invite"><h2>Invite user to group by email:</h2></label>
                    <input type="text" name="invite" id="invite">
                    <input type="hidden" name="group_id" value="{{ group.group_id }}">
                    <input type="submit" value="submit">
                </form>
                <h2>Friends in Group:</h2>
                {% for user in group.users %} 
                    <h3><a href="/user/{{ user.user_id }}">{{ user.fname}} {{ user.lname }}</a></h3>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% if group.lists %}
{% for list in group.lists %}
    <a href="/lists/{{ list.list_id }}">{{ list.list_name }}</a>
    <button class="remove-list" data-listid="{{ list.list_id }}">Remove</button>
{% endfor %}
{% else %}
<p>You do not have any lists for this group yet</p>
{% endif %}

{% else %}
You are not a member of this group
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="/static/js/yelp.js"></script>
{% endblock %}

