{% extends 'base.html' %}
{% block content %}
{% if user_group %}

{{ user.fname }} <h1 id="group-info" data-groupid="{{ group.group_id }}">{{ group.group_name }}<h1>
<h2>Friends in Group:<h2>
{% for user in group.users %}
        <h3>{{ user.fname}} | {{ user.lname }} | {{ user.email }}</h3>
        <h4>{{ user.fname }}'s Favorite Places:</h4>
        {% for fave in user.faves %}
            <a href='{{ fave.restaurants.link }}' target="_blank"><p>{{ fave.restaurants.restaurant_name }}</p></a>
        {% endfor %}
{% endfor %}

<form action="/invite" method="POST">
    <label for="invite">Invite user to group by email:</label>
    <input type="text" name="invite" id="invite">
    <input type="hidden" name="group_id" value="{{ group.group_id }}">
    <input type="submit" value="submit">
</form>


<form action="/new-list" method="POST">
    <label for="new-list">Add new category for your group:</label>
    <input type="text" name="list" id="new-list">
    <input type="hidden" name="group_id" value="{{ group.group_id }}">    
    <input type="submit" value="submit">
</form>

{% for list in group.lists %}
    <a href="/lists/{{ list.list_id }}">{{ list.list_name }}</a>
    <button class="remove-list" data-listid="{{ list.list_id }}">Remove</button>
{% endfor %}

{% else %}
You are not a member of this group
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="/static/js/yelp.js"></script>
{% endblock %}

