{% extends 'base.html' %}
{% block content %}

{{ user.fname }} {{ list.list_name }}
<br>
List members:
{% for user in list.group.users %}
        <h2>{{ user.fname}} | {{ user.lname }} | {{ user.email }}</h2>
{% endfor %}

<ul> 
{% for restaurant in list.restaurants %}
    <li>{{ restaurant.restaurant_name }} | {{ restaurant.yelp_rating }}</li>
{% endfor %}
</ul>

Restaurant Search:
    <form action='/search-restaurant.json' method='POST' id="search">
    <label for="location">location</label>
    <input type="text" name="location" id="location">
    <label for="term">food type</label>
    <input type="text" name="term" id="term">
    <input type="submit" value="submit">
    </form>
    <div id="results">search results here</div>
    <span type="hidden" value="{{ list.list_id }}" id="list-id"></span>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="/static/js/yelp.js"></script>
{% endblock %}