{% extends 'base.html' %}
{% block content %}

{% if user_group %}
<h1 id="list-info" class="title" data-listid="{{ list.list_id }}">{{ list.list_name }}<h1>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h2>Restaurants to visit</h2>
      <ul class="restaurant-listing" id="restaurant-list" data-listid="{{ list.list_id }}"> 
      {% for restaurant_list in restaurants_lists %}
          {% if not restaurant_list.visited %}
          <li id="{{ restaurant_list.restaurant.restaurant_id }}" data-lat="{{ restaurant_list.restaurant.latitude }}" data-lng="{{ restaurant_list.restaurant.longitude }}" data-name="{{ restaurant_list.restaurant.restaurant_name }}" data-yelp="{{ restaurant_list.restaurant.yelp_rating }}">
            <button type="button" class="remove-restaurant btn btn-danger" data-restid="{{ restaurant_list.restaurant.restaurant_id }}">X</button>
            {{ restaurant_list.restaurant.restaurant_name }} | Yelp: {{ restaurant_list.restaurant.yelp_rating }} stars
              <button type="button" class="visited-restaurant btn btn-warning" data-restid="{{ restaurant_list.restaurant.restaurant_id }}">Visited
              </button>
          </li>
          {% endif %}
      {% endfor %}
      </ul>
    </div>
    <div class="col-xs-6">
      <h2>Restaurants visited</h2>
      <ul class="restaurant-listing" id="visited-list" data-listid="{{ list.list_id }}">
      {% for restaurant_list in restaurants_lists %}
          {% if restaurant_list.visited %}
              <li id="{{ restaurant_list.restaurant.restaurant_id }}" data-lat="{{ restaurant_list.restaurant.latitude }}" data-lng="{{ restaurant_list.restaurant.longitude }}" data-name="{{ restaurant_list.restaurant.restaurant_name }}" data-yelp="{{ restaurant_list.restaurant.yelp_rating }}">
                <button type="button" class="remove-restaurant btn btn-danger" data-restid="{{ restaurant_list.restaurant.restaurant_id }}">X</button>
              {{ restaurant_list.restaurant.restaurant_name }} | Yelp: {{ restaurant_list.restaurant.yelp_rating }} stars
              {% if restaurant_list.restaurant in fave_rests %}
              <span id="{{ restaurant_list.restaurant.restaurant_id }}" data-restid="{{ restaurant_list.restaurant.restaurant_id }}" class="glyphicon glyphicon-heart star-restaurant starred" aria-hidden="true"></span>
              {% else %}
              <span id="{{ restaurant_list.restaurant.restaurant_id }}" data-restid="{{ restaurant_list.restaurant.restaurant_id }}" class="glyphicon glyphicon-heart star-restaurant" aria-hidden="true"></span>
              {% endif %}
          </li>
          {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
  Restaurant Search:
      <div id="results"></div>
      <form action='/search-restaurant.json' method='POST' id="search">
        <label for="location">location</label>
        <input type="text" name="location" id="location">
        <label for="term">food type</label>
        <input type="text" name="term" id="term">
        <input class="btn" type="submit" value="Search">
      </form>
    </div>
    <div class="col-xs-6">
      <div style="width: 400px; display:inline;">
        <div class="panel panel-default">
            <div class="panel-body" id="infobox">
            </div>
        </div>
      </div>
      <div id="my-map" style="height: 400px; width: 400px;"></div>
    </div>
  </div>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Uber Options from Your Location</h4>
      </div>
      <div class="modal-body" id="uber-info">
        <p>Fetching uber options...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="/static/js/uber.js"></script>
<script src="/static/js/yelp.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfOfkZrpwbC1D3fIVwh0XOj3u1U0X_B6Q"></script>
<script src="/static/js/googlemaps.js"></script>



{% else %}
You are not a member of this group
{% endif %}
{% endblock %}

