{% extends 'base.html' %}
{% block content %}

{{ user.fname }}
<br>
<a href="/groups/{{ list.group_id }}">Back to group</a>
<br>
<h1 id="list-info" data-listid="{{ list.list_id }}">{{ list.list_name }}<h1>
<h2>Restaurants</h2>
<ul> 
{% for restaurant in list.restaurants %}
    <li>{{ restaurant.restaurant_name }} | Yelp Rating: {{ restaurant.yelp_rating }} 
        <button class="remove-restaurant" data-restid="{{ restaurant.restaurant_id }}">Remove
        </button>
    </li>
{% endfor %}
</ul>

Restaurant Search:
    <form action='/search-restaurant.json' method='POST' id="search">
    <label for="location">location</label>
    <input type="text" name="location" id="location">
    <label for="term">food type</label>
    <input type="text" name="term" id="term">
    <input type="submit" value="submit">
    </form>
    <div id="results">search results here</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="/static/js/yelp.js"></script>
{% endblock %}